@media (max-width: 767px)
  .App__myInput-txt
    font-size: 18px
    position: fixed
    bottom: 0
    left: 0
    width: 64vw
    border-radius: 0

  .App__myInput-txt_active
    position: fixed
    font-size: 18px
    bottom: 0
    left: 0
    width: calc(100vw - 35%)
    border-radius: 0