@import '../../variables'

.App__myInput-txt
  width: 85%
  font-size: 14px
  padding: 10px
  border-radius: 5px
  color: $fontColor
  border: none
  background: $lightBgColor
  font-weight: 400
  font-family: $mainFont
  transition: 0.4s ease
  &:focus-visible
    outline: 1px solid $shadowColor
    box-shadow: 0px 0px 20px 0px $shadowColor
    background: $bgColor
    &::placeholder
      color: $bgColor
  &::placeholder
    color: $phColor




