@import '../../variables'


.App__task
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 18px
  width: 100%
  padding: 12px 0
  border-radius: 5px
  color: $darkColor
  background: $lightBgColor
  font-weight: 400
  font-family: $mainFont
  transition: background .5s, color .5s, box-shadow .5s
  &:hover
    box-shadow: 0 0 20px 0 $shadowColor
    background: $bgColor
    color: $activeColor
    transition: background .5s, color .5s, box-shadow .5s


.App__editedTask
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 18px
  width: 100%
  border-radius: 5px
  color: $darkColor
  background: $lightBgColor
  font-weight: 400
  font-family: $mainFont
  transition: background .5s, color .5s, box-shadow .5s


.App__edited-title
  width: 85%
  font-size: 18px
  padding: 13px
  border-radius: 5px 0 0 5px
  color: $darkColor
  border: none
  background: $bgColor
  font-weight: 400
  font-family: $mainFont
  transition: 0.5s
  &:focus-visible
    outline: none
    background: $bgColor


.App__task-title
  flex: 1








