@import '../../variables'

.App__tasksCount
  display: flex
  justify-content: space-between
  margin: 50px 0px 10px 0px

.App__createdTasksCount
  display: flex
  gap: 5px
  color: $fontColor
  font-size: 10px
  font-weight: 400
  font-family: $mainFont
  align-items: flex-start

.App__deletedTasksCount
  display: flex
  gap: 5px
  color: $fontColor
  font-size: 10px
  font-weight: 400
  font-family: $mainFont
  align-items: flex-start


.App__count
  background: $shadowColor
  border-radius: 10px
  padding: 0px 4px
  width: auto