@import '../../variables'

.App__createdTasksCount
  display: flex
  gap: 5px
  color: $fontColor
  font-size: 10px
  font-weight: 400
  font-family: $mainFont
  align-items: flex-start


.App__count
  background: $shadowColor
  border-radius: 10px
  padding: 0px 4px
  width: auto