@import '../../variables'
.App__update
  display: flex
  width: 100%


.App__updateButton
  font-size: 14px
  padding: 10px
  border-radius: 0 5px 5px 0
  color: $fontColor
  border: none
  background: $shadowColor
  font-weight: 400
  font-family: $mainFont
  transition: 0.1s
  cursor: pointer
  &:active
    outline: 1px solid $activeColor
    box-shadow: 0 0 20px 0 $shadowColor
    background: $activeColor
    color: $fontColor
  &:focus-visible
    outline: none
    box-shadow: 0 0 20px 0 $shadowColor
  &:hover
    box-shadow: 0 0 20px 0 $shadowColor