@import '../../variables'

.App__myButton
  width: 15%
  font-size: 14px
  padding: 10px
  border-radius: 5px
  color: $fontColor
  border: none
  background: $shadowColor
  font-weight: 400
  font-family: $mainFont
  transition: 0.1s
  cursor: pointer
  &:active
    outline: 1px solid $shadowColor
    box-shadow: 0px 0px 20px 0px $shadowColor
    background: $activeColor
    color: $fontColor
  &:focus-visible
    outline: none
    box-shadow: 0px 0px 20px 0px $shadowColor
    transition: 0.7s ease
  &:hover
    box-shadow: 0px 0px 20px 0px $shadowColor

