@import '../../variables'

.App__myButton
  width: 15%
  font-size: 18px
  padding: 13px
  border: none
  border-radius: 5px
  transition: 0.1s
  cursor: pointer
  font-weight: 400
  font-family: $mainFont
  background: $shadowColor
  color: $fontColor
  &:active
    color: $fontColor
    background: $activeColor
    outline: none
    box-shadow: 0 0 20px 0 $shadowColor
  &:focus-visible
    outline: none
    box-shadow: 0 0 20px 0 $shadowColor
  &:hover
    box-shadow: 0 0 20px 0 $shadowColor

