@import './variables'

body
  background: #1a1a1a
  color: white
  margin: 0
  padding: 0
  box-sizing: border-box

.App
  display: flex
  flex-direction: column
  max-width: 585px
  margin: 0 auto
  padding: 0 1rem
  box-sizing: border-box

.App__title
  text-align: center
  margin: 40px 0px
  font-size: 26px
  font-weight: 400
  font-family: 'Concert One', cursive
  color: $darkColor



