@use "variables";

$mainFont: var(--main-font);
$activeColor: var(--active-color);
$shadowColor: var(--shadow-color);
$darkColor: var(--dark-color);
$fontColor: var(--font-color);
$lightBgColor: var(--light-bgColor);
$bgColor: var(--bg-color);
$phColor: var(--ph-color);
$back: var(--background);
